// eww.scss

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font Mono";
}

tooltip.background {
  font-weight: 700;
  background-color: #16161d;
  color: #c8c093;
}


// -- Widgets --
// Bar
@import "widgets/bar/bar.scss";
// sidebar
@import "widgets/sidebar/sidebar.scss";
// Calendar
@import "widgets/calendar/calendar.scss";
