// wdigets/weather/weather.scss

.weather_border {
  background-color: #98BB6C;
  padding: 4px;
}

.weather_widget {
  font-size: 14px;
  font-weight: 700;
  background-color: #16161d;
  color: #dcd7ba;
  padding: 4px 4px 2px 6px;
  & .separator {
    background-color: #2A2A37;
    margin: 4px 0px 4px 8px;
    padding: 0 1px;
  }
  & .cond {
    & .emoji {
      font-size: 36px;
      margin-bottom: 6px;
    }
  }
  & .metrics {
    padding: 0 2px 0 6px;
  }
}
