window {
	/* background-color: rgba(--wofi-rgb-color0,1); */
	/* font-family: iosevka; */
	/* transition: 1s ease-in-out; */
}
#input image {
	/* color: rgba(0,0,0,0) */
}

image {
  /* background-color: green; */
}

#entry {
  background-color: #1a1b26;
  border-radius: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 10px;
  /* padding-right: 20px; */
}

#input {
	/* margin-bottom: 4px; */
	margin-left: 10px;
	margin-right: 10px;
	/* margin-top: 4px; */
	/* box-shadow: none; */
	/* background-color: --wofi-color0; */
	/* border: 5px solid --wofi-color3; */
	/* border-radius: 0px; */
	transition: 0.5s ease-in-out;
}
#input:focus {
	/* background-color: rgba(--wofi-rgb-color4,0.2); */
  /* background-color: red; */
	/* margin-left: 10px; */
	/* margin-right: 10px; */
	transition: 0.5s ease-in-out;
}
label {
	/* color: --wofi-color13; */
	transition: 0.5s ease-in-out;
  /* background-color: red; */
}
#outer-box {
  background-color: #16161e;
	/* border: 5px solid --wofi-color2; */
	transition: 0.5s ease-in-out;
}
