* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Material Design Icons, JetBrainsMonoNL Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    /* font-size: 17px; */
    font-weight: bold;
}

window#waybar {
    background-color: #16161e;
    /* background-color: red; */
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #19b1d6;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 3px #ffffff;
}

#workspaces {
  margin: 0px 4px;
  padding: 0px 0px;
  font-size: 14px;
}

#workspaces button {
    padding: 0px 4px;
    color: #a9b1d6;
    box-shadow: inherit;
    /* font-size: 14px; */
}

#workspaces button.empty {
    /* font-size: 12px; */
    color: #414868;
}

#workspaces button.urgent {
    /* font-size: 20px; */
    color: #989cff;
}

#workspaces button.active {
    /* font-size: 20px; */
    color: #7aa2f7;
}


#clock,
#network,
#custom-sidebar {
    padding: 0px 6px;
    margin: 6px 0px;
    font-size: 16px;
    color: #1a1b26;
    border-radius: 6px;
}

#clock {
    margin: 6px 0px 6px 6px;
    color: #7dcfff;
    background-color: #1a1b26;
    /* background-color: #414868; */
}

#mpris {
  color: #d5d6db;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-sidebar {
    background-color: #e0af68;
    color: #1a1b26;
    font-size: 20px;
    margin: 6px 6px 6px 0px;
    padding: 0px 4px;
}
#custom-media {
    background-color: #66cc99;
    color: #1a1b26;
    min-width: 100px;
    margin: 4px 0px;
}

#tray {
    background-color: #16161e;
    margin: 0px 4px 0px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
