// config.rasi
configuration {
  location: 1;
  show-icons: true;
  modi: "drun";
  display-drun: "";
  display-emoji: "";
  drun-display-format: "{name}";
}
@import "themes/kanagawa"

// vim:ft=rasi
