// src/scss/monitor.scss

.monitor {
  background-color: $bg-color;
  border-radius: 12px;
  padding: 24px;
}

.icon {
  font-size: 64px;
  color: $fg-color;
  background-color: $bg-color2;
  border-radius: 12px;
  margin: -12px -12px -12px -12px;
  padding: 8px 32px 8px 32px;
}

.icon button:hover {
  color: #7dcfff;
}