// /src/scss/music.scss

// .music {
  // border-radius: 12px;
  // background-color: #1e222a;
// }

.music {
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  min-width:  100px;
  min-height: 100px;
  background-color: $bg-color;
}

.music_artist-title {
  padding: 20px 0px 0px 20px;
  &_title {
    font-size: 14px;
  }
}

.music_vol scale trough {
  all: unset;
  border-radius: 12px 0px 0px 12px;
  min-width: 8px;
  min-height: 8px;
  & highlight {
    border-radius: 12px 0px 0px 12px;
    background-color: white;
  }
}

.music_time scale trough {
  all: unset;
  border-radius: 0px 0px 12px 0px;
  padding: 0px 10px 10px 10px;
  min-width: 450px;
  min-height: 8px;
  & highlight {
    border-radius: 12px;
    background-color: whitesmoke;
  }
}

.music_time_text {
  padding: 4px 24px 6px 16px;
  font-size: 14px;
}

.music_buttons {
  padding: 0px 0px 14px 10px;
  font-size: 32px;
  & button {
    padding-left: 16px;
  }
}

.music_cover {
  background-size: cover;
  border-radius: 12px;
  min-width:  200px;
  min-height: 200px;
}