// src/scss/sidebar.scss


.sidebar {
  color: $fg-color;
  background-color: $bg-color;
  padding: 18px;
  border-radius: 30px 0px;
}


.bright_and_vol {
  background-color: $bg-color2;
  border-radius: 20px 0px;
  padding-right: 12px;
  & label {
    font-family: $icon-font;
    font-size: 32px;
    // background-color: $bg-color;
    // color: $bg-color;
    // border-radius: 30px 0px 0px 30px;
    padding: 0px 12px 0px 4px;
  }
  & scale trough {
    all: unset;
    background-color: $bg-color;
    border-radius: 30px;
    // border-radius: 0px 30px 30px 0px;
    min-height: 24px;
    min-width: 320px;
    & highlight {
      border-radius: 30px;
      // border-radius: 0px 30px 30px 0px;
      // min-width: 50px;
      // min-width: 12px;
    }
  }
}

// Brightness Bar
.bright {
  padding: 10px 10px 10px 14px;
  & label {
    font-weight: 400;
    // background-color: #7aadf7;
    color: #7aadf7;
  }
  & scale trough highlight {
    background-color: #7aadf7;
  }
}

// Volume Bar
.vol {
  padding: 10px 10px 10px 14px;
  & label {
    font-weight: 700;
    padding: 11px 12px 10px 4px;
  }
//& scale trough highlight {
//  background-color: #485e30;
//}
  &_normal {
    & label {
      color: #9ece6a;
    }
    & scale trough highlight {
      background-color: #9ece6a;
    }
  }
  &_muted {
    & label {
      color: #485e30;
    }
    & scale trough highlight {
      background-color: #485e30;
    }
  }
}
.vol_normal scale trough highlight {
  background-color: #9ece6a;
}
.vol_muted scale trough highlight {
  background-color: #485e30;
}

// .vol_muted {
  // padding: 10px 10px 10px 14px;
  // & label {
    // font-weight: 700;
    // background-color: #9ece6a;
    // color: #485e30;
    // padding: 11px 12px 10px 11px;
    // padding: 11px 12px 10px 4px;
  // }
  // & scale trough highlight {
    // background-color: #485e30;
  // }
// }


// Hardware Info
.hw_info {
  background-color: $bg-color2;
  border-radius: 20px 0px;
  padding-top: 24px;

  &_icon {
    font-family: $icon-font;
    font-size: 40px;
    font-weight: normal;
    padding: 24px;
  }
  &_text {
    margin: 20px 20px 0px 20px;
    margin-top: 20px;
    // background-color: red;
  }
  & circular-progress {
    background-color: $bg-color;
  }
  &_cpu {
    color: #7dcfff;
  }
  &_gpu {
    color: purple; 
  }
  &_ram {
    color: #ff9e64;
  }
}

.some_buttons {
  // background-color: $bg-color2;
  // background-color: aqua;
  border-radius: 10px;
  & button {
    background-color: $bg-color2;
    font-family: $icon-font;
    border-radius: 8px 0px;
  }
  &_poweroff {
    color: #f7768e;
    font-size: 40px;
    padding: 6px 0px 4px 0px;
  }
  &_monitor {
    color: #2ac3de;
    font-size: 32px;
    padding: 10px;
  }
}
