// src/scss/toast.scss

$accent-color: #9ece6a;

tooltip.background {
  background-color: $bg-color;
}

.toast {
  color: $accent-color;
  background-color: $bg-color;
  padding: 8px 10px 4px 10px;
  border-radius: 20px;
}

.toast scale trough {
    all: unset;
    background-color: $bg-color2;
    border-radius: 30px;
    min-width: 20px;
    min-height: 200px;
    & highlight {
      border-radius: 30px;
      background-color: $accent-color;
    }
}

.toast-value {
  font-family: $icon-font;
  font-size: 20px;
  padding-bottom: 4px;
}

.toast-icon {
  font-family: $icon-font;
  font-size: 26px;
  // margin-right: 6px;
}
